[user]
  name = Adam Hamot
  email = adamhamot@havenlife.com
  signingkey = A1E4C38922F640DE
[color]
  ui = true
[diff]
  renames = copies
  algorithm = patience
  compactionHeuristic = true
[merge]
  conflictStyle = diff3
[alias]
  s = status
  d = diff
  dnw = diff --cached --ignore-all-space
  ds = diff --cached
  co = checkout
  lol = log -p --reverse development..HEAD
  b = branch --sort=-committerdate -vva
  fl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  get = "!f() { git co $1 && git pull origin $1 && git co -; }; f"
[push]
  default = current
[fetch]
  prune = true
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
[commit]
  gpgsign = true
[pull]
  rebase = true
[gpg]
  program = gpg
[url "git://"]
  insteadOf = https://
