[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[includeIf "gitdir:~/code/"]
  path = ~/code/.gitconfig
[color]
  ui = true
[diff]
  renames = copies
  algorithm = patience
  compactionHeuristic = true
[merge]
  conflictStyle = diff3
[alias]
  s = status
  d = diff
  df = "!git diff -U$(wc -l \"$1\" | awk '{print $1}') \"$1\""
  dnw = diff --cached --ignore-all-space
  ds = diff --cached
  co = checkout
  fa = fetch --all
  lol = log -p --reverse development..HEAD
  b = branch --sort=-committerdate -vva
  fl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  get = "!f() { git co $1 && git pull origin $1 && git co -; }; f"
  pushf = "push --force-with-lease"
[push]
  default = current
[fetch]
  prune = true
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
[commit]
  gpgsign = true
[pull]
  rebase = true
[gpg]
  program = gpg
[branch]
  autoSetupMerge = always
[rerere]
  enabled = true
