[user]
  name = Adam Hamot
  email = adamhamot@havenlife.com
  signingkey = 0E26C8DDA1488DA8F3BBCB0F1DA873783B64AB1F
[color]
  ui = true
[diff]
  renames = copies
  algorithm = patience
  compactionHeuristic = true
[merge]
  conflictStyle = diff3
[alias]
  s = status
  d = diff
  ds = diff --cached
  co = checkout
  lol = log -p --reverse master..HEAD
  b = branch --sort=-committerdate -vva
  fl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  puom = push origin master
  plom = pull origin master
[push]
  default = simple
[fetch]
  prune = true
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
[commit]
  gpgsign = true
[pull]
  rebase = true
[gpg]
  program = gpg2
[url "git://"]
  insteadOf = https://
