nvim/.config/nvim/gitlab.vim
bash/.homebrew.bash
nvim/.config/configstore/update-notifier-npm.json
nvim/.config/nvim/.netrwhist
config/.config/coc/history.json
config/.config/coc/memos.json
config/.config/coc/extensions
git/code/.gitconfig
config/.config/coc/mru
